$background-color: #77cbb9;
$light-pink: #fdc5f5;
$pink: #F7AEF8;
$dark-pink: #523a52;
$lavender: #B388EB;
$blue: #8093F1;
$shadow: #27433d;

body {
  background-color: $background-color;
}

.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Wizard {
  height: 300px;
}

.askButton {
  height: 30px;
  color: $dark-pink;
  background-color: $light-pink;
  border-style: solid;
  border-radius: 14px;
  border-width: 1px;
  border-color: $light-pink;
  box-shadow: 2px 2px 5px $shadow;
}